<form class="modal-form">
  <div class="modal-header">
    Авторизация
  </div>
  <div class="modal-body d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg" (click)="login()">
      <i class="bi bi-steam"></i>
      Sign In via Steam!
    </button>
    <!--    <img style="cursor: pointer"-->
    <!--         src="https://community.cloudflare.steamstatic.com/public/images/signinthroughsteam/sits_01.png" width="180"-->
    <!--         height="35" (click)="login()" />-->
  </div>
</form>
